@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.myGradientText {
    font-weight: bolder;
    background: linear-gradient(to right,
            #7953cd 20%,
            #00affa 30%,
            #0190cd 70%,
            #764ada 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite reverse;
}

html{
    background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
        background-color: #282828;
        background-size: 16px 16px;
}

.customColor1{
    color: #aeedf2
}

.customColor2{
    color: gainsboro;
}

.sidenav {
    background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
        background-color: #282828;
        background-size: 16px 16px;
    color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.sidenav h5{
    justify-content: center;
    text-align: center;
}

.sidenav li{
    padding-left: 15px;
}

.sidenav li:nth-child(5) {
    text-align: left;
}

.sidenav li a {
    padding-left: 52px;
    color: white;
}